<div class="modal fade" id="confirmModal" tabindex="-1" role="dialog" aria-labelledby="confirmModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-danger" id="confirmModalLabel">Confirm</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                {{ @root.__ "Are you sure you want to proceed?" }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn-md btn-primary mr-auto"
                    data-dismiss="modal">{{ @root.__ "Close" }}</button>
                <button type="button" id="buttonConfirm" class="btn-md btn-danger">{{ @root.__ "Confirm" }}</button>
            </div>
        </div>
    </div>
</div>